<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="header">
    <span>
        <f:translate key="LLL:EXT:summ_ai_translate/Resources/Private/Language/de.locallang_summ_ai_translate.xlf:widgets.usagewidget.header"/>
    </span>
</div>
<div class="body">
    <f:if condition="{noKeyErr}">
        <f:then>
            <f:translate key="LLL:EXT:summ_ai_translate/Resources/Private/Language/de.locallang_summ_ai_translate.xlf:widgets.usagewidget.error"/>
        </f:then>
        <f:else>
            {charLeft}
            <f:translate key="LLL:EXT:summ_ai_translate/Resources/Private/Language/de.locallang_summ_ai_translate.xlf:widgets.usagewidget.body_1"/>
            {charLimit}
            <f:translate key="LLL:EXT:summ_ai_translate/Resources/Private/Language/de.locallang_summ_ai_translate.xlf:widgets.usagewidget.body_2"/>
        </f:else>
    </f:if>
</div>

</html>
